NodeRedFlow.json
[{"id":"4b743b7f.093ab4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1459dafe.8e81e5","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1051.6667785644531,"y":703.1666793823242,"wires":[["764f31b2.01518"],[],[]]},{"id":"1f69f795.5ea8c8","type":"function","z":"4b743b7f.093ab4","name":"OID: PoE Power Total Consumed","func":"\n//msg.payload = \"1.3.6.1.2.1.105.1.3.1.1.4.1\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.2.1.105.1.3.1.1.4.1';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":796.0001373291016,"y":704.0000133514404,"wires":[["1459dafe.8e81e5"]]},{"id":"2d531a5a.4c6b76","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1044.0002555847168,"y":594.0000534057617,"wires":[["73e6e666.da2cf8"],[],[]]},{"id":"4ff05798.648068","type":"inject","z":"4b743b7f.093ab4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":159.0000457763672,"y":897.8333597183228,"wires":[["5dc36906.39c208","74f999fb.cbd438","9d97600e.2d984","eb06163d.2135c8","4255b6d8.7c8148","f8ed4918.dcb978","1f4bb617.3693ca","74ff0e9f.01718","d47a182e.72e018","b7e96867.61e298","30825099.22f9"]]},{"id":"d9d80a71.21a738","type":"function","z":"4b743b7f.093ab4","name":"OID: Model Number","func":"\n//msg.payload = 'snmpget -v 2c -c public 192.168.1.110 1.3.6.1.2.1.47.1.1.1.1.7.67109120';\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.2.1.47.1.1.1.1.7.67109120';\nreturn msg;","outputs":1,"noerr":0,"x":769.0002365112305,"y":593.0000534057617,"wires":[["2d531a5a.4c6b76"]]},{"id":"9f9274f7.f03b98","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1055.0001220703125,"y":870.0000343322754,"wires":[["fe1e455d.31f278"],[],[]]},{"id":"573a2446.5c68ec","type":"function","z":"4b743b7f.093ab4","name":"OID: Power Supply 1 Status","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.1.2.1.3.67109185\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.1.2.1.3.67109185';\nreturn msg;","outputs":1,"noerr":0,"x":818.0001831054688,"y":877.0001068115234,"wires":[["9f9274f7.f03b98"]]},{"id":"9b042ac4.f555e8","type":"function","z":"4b743b7f.093ab4","name":"OID: Fan1 RPM","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.5.1.1.3.1\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.5.1.1.3.1';\nreturn msg;","outputs":1,"noerr":0,"x":814.0002136230469,"y":1243.000069618225,"wires":[["6b0bd4bd.886bec"]]},{"id":"6b0bd4bd.886bec","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1010.0002593994141,"y":1240.000069618225,"wires":[["f5006757.b3cc68"],[],[]]},{"id":"73e6e666.da2cf8","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\n//msg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n//msg.payload = (temp.slice(temp.indexOf(\":\")+2,1000).trim());\nvar temp2 = (temp.slice(temp.indexOf(\":\")+2,1000).trim());\nvar temp3 = temp2.replace(\"\\\"\", \"\"); // removes double quotes from string\nmsg.payload = temp3.replace(\"\\\"\", \"\");// removes the second double quote. Try RegEx next time\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1500.0004272460938,"y":582.0001354217529,"wires":[["8c13583f.b301c8"]]},{"id":"fe1e455d.31f278","type":"function","z":"4b743b7f.093ab4","name":"ps1Status","func":"var temp = msg.payload;\nvar ps1Status = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nif(ps1Status==1){\n    msg.payload = 'OK';\n    return msg;\n}else if(ps1Status==2){\n    msg.payload = 'WARNING';\n    return msg;\n}else if(ps1Status==3){\n    msg.payload = 'CRITICAL';\n    return msg;\n}else if(ps1Status==4){\n    msg.payload = 'SHUTDOWN';\n    return msg;\n}else if(ps1Status==5){\n    msg.payload = ' FAN NOT PRESENT ';\n    return msg;\n\n}else{\n    \n}","outputs":1,"noerr":0,"x":1438.000259399414,"y":858.0000343322754,"wires":[["12cd3cbe.ba18d3"]]},{"id":"d92734a0.b9cfd8","type":"function","z":"4b743b7f.093ab4","name":"fan1Status","func":"var temp = msg.payload;\nvar fan1Status = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nif(fan1Status==1){\n    msg.payload = 'OK';\n    return msg;\n}else if(fan1Status==2){\n    msg.payload = 'WARNING';\n    return msg;\n}else if(fan1Status==3){\n    msg.payload = 'CRITICAL';\n    return msg;\n}else if(fan1Status==4){\n    msg.payload = 'SHUTDOWN';\n    return msg;\n}else if(fan1Status==5){\n    msg.payload = ' FAN NOT PRESENT ';\n    return msg;\n}else if(fan1Status==6){\n    msg.payload = 'NOT FUNCTIONING';\n    return msg;\n}else{\n    \n}\n\n\n","outputs":1,"noerr":0,"x":1447.000343322754,"y":968.0001182556152,"wires":[["55b2790f.388848"]]},{"id":"f5006757.b3cc68","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar fan1RPM = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nmsg.payload = fan1RPM;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1508.000343322754,"y":1226.0001001358032,"wires":[["ddfc0135.28d25"]]},{"id":"59bcf4f7.42583c","type":"function","z":"4b743b7f.093ab4","name":"OID: Fan1 Status","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109249\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109249';\nreturn msg;","outputs":1,"noerr":0,"x":791.0001907348633,"y":982.0001192092896,"wires":[["4a634380.60c96c"]]},{"id":"764f31b2.01518","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload =( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //convert to Watts\nreturn msg;","outputs":1,"noerr":0,"x":1519.0002899169922,"y":694.0000944137573,"wires":[["c03831ab.5def6"]]},{"id":"4a634380.60c96c","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1041.000114440918,"y":983.0001182556152,"wires":[["d92734a0.b9cfd8"],[],[]]},{"id":"a105eed7.07d78","type":"http in","z":"4b743b7f.093ab4","name":"","url":"/ciscoStat","method":"get","upload":false,"swaggerDoc":"","x":1185.0000553131104,"y":122.00000381469727,"wires":[["2d508acf.a45a66"]]},{"id":"8ef90a3e.61ddc8","type":"http response","z":"4b743b7f.093ab4","name":"","statusCode":"","headers":{},"x":1609.0000553131104,"y":119.00037002563477,"wires":[]},{"id":"6b42cfb7.e4c5f","type":"inject","z":"4b743b7f.093ab4","name":"Initialize Globals","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":221.66668701171875,"y":75.00001525878906,"wires":[["afa03870.f42988"]]},{"id":"afa03870.f42988","type":"function","z":"4b743b7f.093ab4","name":"Initialize","func":"global.set('NodeRedIPAddress','');\nglobal.set('SwitchIPAddress','');\nglobal.set('SwitchPingTest','ok');// is Cisco Switch connected?\nglobal.set('model','');\nglobal.set('uniqueVlans','');\nglobal.set('vlan1Count','');\nglobal.set('PoE','');\nglobal.set('PoE_Percentage');\nglobal.set('PS1Stat','');\nglobal.set('Fan1Stat','');\nglobal.set('Fan2Stat','');\nglobal.set('Fan3Stat','');\nglobal.set('Fan1RPM','');\nglobal.set('Temperature','');\nglobal.set('PortPoEStat',\n[0,0,0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0,0,0,\n0,0,0,0,0,0,0,0,0,0\n]); // PoE consumption of each Port\n\nglobal.set('counter',0);\nglobal.set('counter2',0);\nglobal.set('counter3',0);\n\nglobal.set('PortOperationalStatus',\n[]); // PortOperationalStatus\n\nglobal.set('PortVlanMembership',\n[ ]); // PortVlanMembership\n\n","outputs":1,"noerr":0,"x":427.66668701171875,"y":75.00003051757812,"wires":[[]]},{"id":"8c13583f.b301c8","type":"function","z":"4b743b7f.093ab4","name":"global.set('model',model);","func":"var model = msg.payload;\nglobal.set('model',model);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1867.0004386901855,"y":582.0000534057617,"wires":[[]]},{"id":"c03831ab.5def6","type":"function","z":"4b743b7f.093ab4","name":" global.set('PoE_Percentage',PoE_Percentage);","func":"var PoE = msg.payload;\nvar model = global.get('model')\nvar PoE_Percentage = 0;\n\nglobal.set('PoE',PoE);\n\nif(model ==\"SG350-52P\"){\n    PoE_Percentage = Math.ceil(100*(PoE/375));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}else if (model ==\"SG350-28P\"){\n    PoE_Percentage = Math.ceil(100*(PoE/195));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}else if (model ==\"SG350-10P\"){\n    PoE_Percentage = Math.ceil(100* (PoE/62));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}else if (model ==\"SG350-52MP\"){\n    PoE_Percentage = Math.ceil(100*(PoE/740));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}else if (model ==\"SG350-28MP\"){\n    PoE_Percentage = Math.ceil(100*(PoE/382));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}else if (model ==\"SG350-10MP\"){\n    PoE_Percentage = Math.ceil(100*(PoE/124));\n    global.set('PoE_Percentage',PoE_Percentage);\n    \n}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1947.0003776550293,"y":692.0000944137573,"wires":[[]]},{"id":"12cd3cbe.ba18d3","type":"function","z":"4b743b7f.093ab4","name":"global.set('PS1Stat',msg.payload)","func":"PS1Stat = msg.payload;\nglobal.set('PS1Stat',msg.payload);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1914.0004081726074,"y":854.0000419616699,"wires":[[]]},{"id":"55b2790f.388848","type":"function","z":"4b743b7f.093ab4","name":"global.set('Fan1Stat',msg.payload)","func":"Fan1Stat = msg.payload;\nglobal.set('Fan1Stat',msg.payload);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1918.0004043579102,"y":964.000171661377,"wires":[[]]},{"id":"ddfc0135.28d25","type":"function","z":"4b743b7f.093ab4","name":"global.set('Fan1RPM',msg.payload)","func":"Fan1RPM = msg.payload;\nglobal.set('Fan1RPM',msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1915.0003719329834,"y":1226.0001163482666,"wires":[[]]},{"id":"2d508acf.a45a66","type":"function","z":"4b743b7f.093ab4","name":"","func":"var  uniqueVlans = 0;\nvar  vlan1Count = 0;\n\n\n// Determine how many unique TX Video Vlans exist.      \n   \n   let arraySet = new Set(global.get('PortVlanMembership'));\n                \n    uniqueVlans  = (arraySet.size -1); // Cisco Switch Configuration Example: {\"ip\":\"192.168.1.xx\",\"TXports\":\"10\",\"RXports\":\"38\"}\n    global.set('uniqueVlans',uniqueVlans);\n                \n// Determine how many VLAN 1 ports exists.\n    if(global.get('model').includes('SG350-52')){\n\n        for( i = 0; i < 52; ++i){\n            if(global.get('PortVlanMembership')[i] == 1)\n            vlan1Count++;\n        }\n        \n    }else if(global.get('model').includes('SG350-28')){\n        \n        for(i = 0; i < 28; ++i){\n            if(global.get('PortVlanMembership')[i] == 1)\n            vlan1Count++;\n        }\n        \n        \n    }else if(global.get('model').includes('SG350-10')){\n        \n        for(i = 0; i < 10; ++i){\n            if(global.get('PortVlanMembership')[i] == 1)\n            vlan1Count++;\n        }\n        \n    }else{}\n    \n//\n\nglobal.set('vlan1Count',vlan1Count);\n    \n\n\nvar stat = {\n'model': global.get('model'),\n'NodeRedIPAddress': global.get('NodeRedIPAddress'),\n'SwitchPingTest': global.get('SwitchPingTest'),     // is Cisco Switch connected?\n'SwitchIPAddress': global.get('SwitchIPAddress'),\n'PoE' : global.get('PoE'),\n'PoE_Percentage':global.get('PoE_Percentage'),\n'PS1Stat' : global.get('PS1Stat'),  \n'Fan1Stat':global.get('Fan1Stat'),\n'Fan2Stat':global.get('Fan2Stat'),\n'Fan3Stat':global.get('Fan3Stat'),\n'Fan1RPM': global.get('Fan1RPM'),\n'Temperature': global.get('Temperature'),\n'PortPoEStat': global.get('PortPoEStat'),\n'PortOperationalStatus': global.get('PortOperationalStatus'),\n'PortVlanMembership':global.get('PortVlanMembership'),\n'uniqueVlans':global.get('uniqueVlans'),\n'vlan1Count':global.get('vlan1Count')\n}\n\nmsg.payload = stat\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1405,"y":121,"wires":[["52cebae0.6b3064","8ef90a3e.61ddc8"]]},{"id":"5dc36906.39c208","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"0.6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":567.6667633056641,"y":705.0000205039978,"wires":[["1f69f795.5ea8c8"]]},{"id":"74f999fb.cbd438","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"0.8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":606.0000801086426,"y":876.0000419616699,"wires":[["573a2446.5c68ec"]]},{"id":"9d97600e.2d984","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596.0000839233398,"y":981.000072479248,"wires":[["59bcf4f7.42583c"]]},{"id":"eb06163d.2135c8","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"1.6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":606.0000953674316,"y":1241.0001153945923,"wires":[["9b042ac4.f555e8"]]},{"id":"66103371.85804c","type":"function","z":"4b743b7f.093ab4","name":"OID: Temperature","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.5.1.1.2.1\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.5.1.1.2.1';\nreturn msg;","outputs":1,"noerr":0,"x":813.0000991821289,"y":1340.0000734329224,"wires":[["17afd58b.1bc0aa"]]},{"id":"17afd58b.1bc0aa","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":995.000129699707,"y":1339.0000505447388,"wires":[["eef207b1.b2b8f8"],[],[]]},{"id":"eef207b1.b2b8f8","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar Temperature = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nmsg.payload = Temperature;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1507.0001907348633,"y":1326.0000505447388,"wires":[["c778ce10.47ec3"]]},{"id":"c778ce10.47ec3","type":"function","z":"4b743b7f.093ab4","name":"global.set('Temperature',msg.payload)","func":"Temperature = msg.payload;\nglobal.set('Temperature',msg.payload);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1936.0000953674316,"y":1322.000023841858,"wires":[[]]},{"id":"4255b6d8.7c8148","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"1.8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":599.9999465942383,"y":1338.000054359436,"wires":[["66103371.85804c"]]},{"id":"41a03831.56bea8","type":"comment","z":"4b743b7f.093ab4","name":"API","info":"","x":1383.666748046875,"y":59.00003433227539,"wires":[]},{"id":"f8ed4918.dcb978","type":"ip","z":"4b743b7f.093ab4","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":true,"publicIPv4":true,"publicIPv6":false,"x":578.3868179321289,"y":282.4648914337158,"wires":[["10a83f73.f994a1"]]},{"id":"10a83f73.f994a1","type":"function","z":"4b743b7f.093ab4","name":"","func":"var NodeRedIPAddress = msg.payload.internalIPv4;\nglobal.set('NodeRedIPAddress',NodeRedIPAddress);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1055.0001907348633,"y":285.0000686645508,"wires":[[]]},{"id":"ebc39819.ad6dc8","type":"comment","z":"4b743b7f.093ab4","name":"get IP address of Node Red Host","info":"","x":598.5000915527344,"y":240.0000457763672,"wires":[]},{"id":"5d84f38d.f29f8c","type":"comment","z":"4b743b7f.093ab4","name":"SNMP MIB for Cisco Switch","info":"","x":785.0000839233398,"y":545.0001335144043,"wires":[]},{"id":"f1fe7b18.376608","type":"http request","z":"4b743b7f.093ab4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1122.5002708435059,"y":385.0000286102295,"wires":[["9268f896.17da88"]]},{"id":"96681068.b39bc","type":"function","z":"4b743b7f.093ab4","name":"set.url","func":"msg.url = 'http://'+global.get('NodeRedIPAddress') +':3000/read/UserSwitchConfig';\nreturn msg;\n","outputs":1,"noerr":0,"x":754.6668186187744,"y":386.6667003631592,"wires":[["f1fe7b18.376608"]]},{"id":"55be38fc.e3b1f8","type":"function","z":"4b743b7f.093ab4","name":"global.set('SwitchIPAddress',SwitchIPAddress)","func":"var SwitchIPAddress = msg.payload.ip;\nglobal.set('SwitchIPAddress',SwitchIPAddress);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":1929.000358581543,"y":384.00001335144043,"wires":[[]]},{"id":"9268f896.17da88","type":"json","z":"4b743b7f.093ab4","name":"","property":"payload","action":"","pretty":false,"x":1446.6667747497559,"y":385.66671562194824,"wires":[["55be38fc.e3b1f8"]]},{"id":"9a501d86.5291f","type":"comment","z":"4b743b7f.093ab4","name":"app.get [Cisco IP Address]:3000/read/UserSwitchConfig'","info":"call :3000 API to get Cisco Switch IP Address","x":1019.0001182556152,"y":344.99999809265137,"wires":[]},{"id":"74ff0e9f.01718","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"0.4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":564.0000762939453,"y":596.0000553131104,"wires":[["d9d80a71.21a738"]]},{"id":"1f4bb617.3693ca","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":582.0000076293945,"y":389.99999809265137,"wires":[["96681068.b39bc"]]},{"id":"7523a58f.dddefc","type":"function","z":"4b743b7f.093ab4","name":"OID: PoE Power Allowed Spec Budget","func":"\nmsg.payload = \"1.3.6.1.2.1.105.1.3.1.1.2.1\";\nreturn msg;","outputs":1,"noerr":0,"x":432.76953125,"y":1756.0042724609375,"wires":[[]]},{"id":"185a7a8e.ed6995","type":"function","z":"4b743b7f.093ab4","name":"OID: PoE Power Total Consumed","func":"\nmsg.payload = \"1.3.6.1.2.1.105.1.3.1.1.4.1\";\nreturn msg;","outputs":1,"noerr":0,"x":438.76953125,"y":1804.004150390625,"wires":[[]]},{"id":"6f1efe17.26da3","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":603,"y":3132,"wires":[["af400ab3.5e4578"],[],[]]},{"id":"af400ab3.5e4578","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1353,"y":3088,"wires":[["6d2de26f.3cd92c"]]},{"id":"8142ee32.ae13a","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":603,"y":3212,"wires":[["db3a22da.ffedf"],[],[]]},{"id":"db3a22da.ffedf","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1175,"y":3218,"wires":[["1cf21956.ae13c7"]]},{"id":"6d2de26f.3cd92c","type":"function","z":"4b743b7f.093ab4","name":"counter1val","func":"global.set(\"RX1counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1779,"y":3098,"wires":[[]]},{"id":"1cf21956.ae13c7","type":"function","z":"4b743b7f.093ab4","name":"counter2val","func":"global.set(\"RX1counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1471,"y":3212,"wires":[["c43eb56b.feaeb8"]]},{"id":"c43eb56b.feaeb8","type":"function","z":"4b743b7f.093ab4","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX1counter1val\");\nvar RXcounter2val = global.get(\"RX1counter2val\");\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1819,"y":3210,"wires":[[]]},{"id":"c6229161.9bace","type":"comment","z":"4b743b7f.093ab4","name":"Port Received Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":463,"y":3052,"wires":[]},{"id":"602dee29.e74de","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":543,"y":3492,"wires":[["b0e05e2e.2e049"],[],[]]},{"id":"b0e05e2e.2e049","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1155,"y":3472,"wires":[["5394861a.0f98a8"]]},{"id":"14924f89.aa9d3","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":303,"y":3572,"wires":[["6292898e.5f0198"]]},{"id":"6292898e.5f0198","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":3572,"wires":[["3db7b698.30df5a"],[],[]]},{"id":"3db7b698.30df5a","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1115,"y":3572,"wires":[["2d1aa887.464368"]]},{"id":"5394861a.0f98a8","type":"function","z":"4b743b7f.093ab4","name":"TXcounter1val","func":"global.set(\"TX1counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1811,"y":3480,"wires":[[]]},{"id":"2d1aa887.464368","type":"function","z":"4b743b7f.093ab4","name":"TXcounter2val","func":"global.set(\"TX1counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1535,"y":3572,"wires":[["bd18c987.7097d8"]]},{"id":"bd18c987.7097d8","type":"function","z":"4b743b7f.093ab4","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX1counter1val\");\nvar TXcounter2val = global.get(\"TX1counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1807,"y":3568,"wires":[[]]},{"id":"dd87b164.cc7fc","type":"comment","z":"4b743b7f.093ab4","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":503,"y":3432,"wires":[]},{"id":"2ab07dee.e0e7e2","type":"function","z":"4b743b7f.093ab4","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.1\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.1\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":223,"y":3172,"wires":[["6f1efe17.26da3"],["8437026f.2d55"]]},{"id":"99dfe011.12fc1","type":"function","z":"4b743b7f.093ab4","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.1\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.1\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":183,"y":3492,"wires":[["602dee29.e74de"],["14924f89.aa9d3"]]},{"id":"8437026f.2d55","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":363,"y":3212,"wires":[["8142ee32.ae13a"]]},{"id":"fd614dc1.15e18","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":483,"y":3752,"wires":[["f53db318.e2429"],[],[]]},{"id":"f53db318.e2429","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1067,"y":3736,"wires":[["ba685394.a03f5"]]},{"id":"a6c31f5d.9908","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":483,"y":3832,"wires":[["d686270b.1abf08"],[],[]]},{"id":"d686270b.1abf08","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1023,"y":3820,"wires":[["729e483d.6d77a8"]]},{"id":"ba685394.a03f5","type":"function","z":"4b743b7f.093ab4","name":"counter1val","func":"global.set(\"RX2counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1453,"y":3732,"wires":[[]]},{"id":"729e483d.6d77a8","type":"function","z":"4b743b7f.093ab4","name":"counter2val","func":"global.set(\"RX2counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1469,"y":3816,"wires":[["df535c2f.6af46"]]},{"id":"df535c2f.6af46","type":"function","z":"4b743b7f.093ab4","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX2counter1val\");\nvar RXcounter2val = global.get(\"RX2counter2val\");\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1831,"y":3816,"wires":[[]]},{"id":"d866b0eb.7f7da","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":4032,"wires":[["477e7281.4fbd5c"],[],[]]},{"id":"477e7281.4fbd5c","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1115,"y":4032,"wires":[["e8ec6863.b431f8"]]},{"id":"67fc51f2.61bbb","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":283,"y":4112,"wires":[["6bb8b297.094abc"]]},{"id":"6bb8b297.094abc","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":503,"y":4112,"wires":[["b29a397e.0b1e08"],[],[]]},{"id":"b29a397e.0b1e08","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1087,"y":4108,"wires":[["bce5a5cd.6acdf8"]]},{"id":"e8ec6863.b431f8","type":"function","z":"4b743b7f.093ab4","name":"TXcounter1val","func":"global.set(\"TX2counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1755,"y":4020,"wires":[[]]},{"id":"bce5a5cd.6acdf8","type":"function","z":"4b743b7f.093ab4","name":"TXcounter2val","func":"global.set(\"TX2counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1435,"y":4108,"wires":[["17a22488.3fe3db"]]},{"id":"17a22488.3fe3db","type":"function","z":"4b743b7f.093ab4","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX2counter1val\");\nvar TXcounter2val = global.get(\"TX2counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1763,"y":4100,"wires":[[]]},{"id":"734071b0.9c0a4","type":"comment","z":"4b743b7f.093ab4","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":483,"y":3972,"wires":[]},{"id":"aafd999c.94ffe8","type":"function","z":"4b743b7f.093ab4","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.2\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.2\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":143,"y":3752,"wires":[["fd614dc1.15e18"],["c9618d16.55fe3"]]},{"id":"e8939a62.73a9d8","type":"function","z":"4b743b7f.093ab4","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.2\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.2\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":123,"y":4032,"wires":[["d866b0eb.7f7da"],["67fc51f2.61bbb"]]},{"id":"c9618d16.55fe3","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":263,"y":3832,"wires":[["a6c31f5d.9908"]]},{"id":"63a82885.50b648","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":4352,"wires":[["ed834e8e.a7f97"],[],[]]},{"id":"ed834e8e.a7f97","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1299,"y":4328,"wires":[["bba76fb1.d05fe"]]},{"id":"c346d09b.189ca","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":4432,"wires":[["a0278d1e.23e12"],[],[]]},{"id":"a0278d1e.23e12","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1107,"y":4432,"wires":[["e1e455f4.e79108"]]},{"id":"bba76fb1.d05fe","type":"function","z":"4b743b7f.093ab4","name":"counter1val","func":"global.set(\"RX3counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1801,"y":4332,"wires":[[]]},{"id":"e1e455f4.e79108","type":"function","z":"4b743b7f.093ab4","name":"counter2val","func":"global.set(\"RX3counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1489,"y":4420,"wires":[["b1b4f3d8.3e142"]]},{"id":"b1b4f3d8.3e142","type":"function","z":"4b743b7f.093ab4","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX3counter1val\");\nvar RXcounter2val = global.get(\"RX3counter2val\");\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1819,"y":4444,"wires":[[]]},{"id":"8199c7a4.10f938","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":563,"y":4632,"wires":[["bd10e91a.be79c8"],[],[]]},{"id":"bd10e91a.be79c8","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1131,"y":4628,"wires":[["5028c439.eb7c8c"]]},{"id":"eca915a0.53a1c8","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":323,"y":4712,"wires":[["8f7481be.0b374"]]},{"id":"8f7481be.0b374","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":543,"y":4712,"wires":[["c3c1b140.74677"],[],[]]},{"id":"c3c1b140.74677","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1039,"y":4720,"wires":[["b148c445.92a8e8"]]},{"id":"5028c439.eb7c8c","type":"function","z":"4b743b7f.093ab4","name":"TXcounter1val","func":"global.set(\"TX3counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1551,"y":4612,"wires":[[]]},{"id":"b148c445.92a8e8","type":"function","z":"4b743b7f.093ab4","name":"TXcounter2val","func":"global.set(\"TX3counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1391,"y":4700,"wires":[["ee64fa1e.1ab0f8"]]},{"id":"ee64fa1e.1ab0f8","type":"function","z":"4b743b7f.093ab4","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX3counter1val\");\nvar TXcounter2val = global.get(\"TX3counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1655,"y":4696,"wires":[[]]},{"id":"cfa28121.4d7f2","type":"comment","z":"4b743b7f.093ab4","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":523,"y":4572,"wires":[]},{"id":"29f1da11.457216","type":"function","z":"4b743b7f.093ab4","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.3\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.3\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":183,"y":4352,"wires":[["63a82885.50b648"],["63085587.ca49ec"]]},{"id":"896f76de.ef4e18","type":"function","z":"4b743b7f.093ab4","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.3\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.3\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":163,"y":4632,"wires":[["8199c7a4.10f938"],["eca915a0.53a1c8"]]},{"id":"63085587.ca49ec","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":303,"y":4432,"wires":[["c346d09b.189ca"]]},{"id":"38ed77a5.db5628","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":4892,"wires":[["67d91e79.104a2"],[],[]]},{"id":"67d91e79.104a2","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1067,"y":4888,"wires":[["a4268800.f7c108"]]},{"id":"7824c24e.a8e35c","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":523,"y":4972,"wires":[["dc4feb87.8820b8"],[],[]]},{"id":"dc4feb87.8820b8","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":883,"y":4972,"wires":[["b325a396.e6d27"]]},{"id":"a4268800.f7c108","type":"function","z":"4b743b7f.093ab4","name":"counter1val","func":"global.set(\"RX4counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1477,"y":4892,"wires":[[]]},{"id":"b325a396.e6d27","type":"function","z":"4b743b7f.093ab4","name":"counter2val","func":"global.set(\"RX4counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1305,"y":4968,"wires":[["bb721559.26f8a8"]]},{"id":"bb721559.26f8a8","type":"function","z":"4b743b7f.093ab4","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX4counter1val\");\nvar RXcounter2val = global.get(\"RX4counter2val\");\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":1627,"y":4980,"wires":[[]]},{"id":"45203f65.67c64","type":"function","z":"4b743b7f.093ab4","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.4\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.4\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":183,"y":4892,"wires":[["38ed77a5.db5628"],["5fb399a3.31bc18"]]},{"id":"5fb399a3.31bc18","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":303,"y":4972,"wires":[["7824c24e.a8e35c"]]},{"id":"4a4d047.e498dfc","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2931,"y":3632.5,"wires":[["4ace6542.1182cc"],[],[]]},{"id":"4ace6542.1182cc","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3635,"y":3616.5,"wires":[["2c5038b6.cb7668"]]},{"id":"239320dc.cfd2d","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2931,"y":3732.5,"wires":[["5538c079.7629c"],[],[]]},{"id":"5538c079.7629c","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3443,"y":3724.5,"wires":[["8b6a8de4.79289"]]},{"id":"2c5038b6.cb7668","type":"function","z":"4b743b7f.093ab4","name":"counter1val","func":"global.set(\"RX6counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4153,"y":3604.5,"wires":[[]]},{"id":"8b6a8de4.79289","type":"function","z":"4b743b7f.093ab4","name":"counter2val","func":"global.set(\"RX6counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3893,"y":3720.5,"wires":[["a516e604.b2eae8"]]},{"id":"a516e604.b2eae8","type":"function","z":"4b743b7f.093ab4","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX6counter1val\");\nvar RXcounter2val = global.get(\"RX6counter2val\");\n\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4231,"y":3712.5,"wires":[[]]},{"id":"6f661482.c56acc","type":"comment","z":"4b743b7f.093ab4","name":"Port Received Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2921,"y":3552.5,"wires":[]},{"id":"a0f4d4d5.679208","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2971,"y":3992.5,"wires":[["114ebbbe.a6e954"],[],[]]},{"id":"114ebbbe.a6e954","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3641,"y":3984.5,"wires":[["8ace6e58.d301c"]]},{"id":"500a93c4.113e4c","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2701,"y":4072.5,"wires":[["3e5250fe.ee5e1"]]},{"id":"3e5250fe.ee5e1","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2951,"y":4072.5,"wires":[["98b285ee.3c3158"],[],[]]},{"id":"98b285ee.3c3158","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3557,"y":4072.5,"wires":[["7d7d9cde.857f44"]]},{"id":"8ace6e58.d301c","type":"function","z":"4b743b7f.093ab4","name":"TXcounter1val","func":"global.set(\"TX6counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":3984.5,"wires":[[]]},{"id":"7d7d9cde.857f44","type":"function","z":"4b743b7f.093ab4","name":"TXcounter2val","func":"global.set(\"TX6counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3891,"y":4068.5,"wires":[["b7ed3c81.057e4"]]},{"id":"b7ed3c81.057e4","type":"function","z":"4b743b7f.093ab4","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX6counter1val\");\nvar TXcounter2val = global.get(\"TX6counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":4096.5,"wires":[[]]},{"id":"2058e7d6.6fece8","type":"comment","z":"4b743b7f.093ab4","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2961,"y":3932.5,"wires":[]},{"id":"c0187aaf.9bbbd8","type":"function","z":"4b743b7f.093ab4","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.6\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.6\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2551,"y":3652.5,"wires":[["4a4d047.e498dfc"],["c89d6786.433398"]]},{"id":"cb80f057.b4b98","type":"function","z":"4b743b7f.093ab4","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.6\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.6\"};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2551,"y":3992.5,"wires":[["a0f4d4d5.679208"],["500a93c4.113e4c"]]},{"id":"c89d6786.433398","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2681,"y":3732.5,"wires":[["239320dc.cfd2d"]]},{"id":"db95aed8.17a6e","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2871,"y":4272.5,"wires":[["ccb0af31.d5fd7"],[],[]]},{"id":"ccb0af31.d5fd7","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3587,"y":4252.5,"wires":[["94b7c3af.d5844"]]},{"id":"957ac705.2a1fb8","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2871,"y":4372.5,"wires":[["d6783b1f.8e8798"],[],[]]},{"id":"d6783b1f.8e8798","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3423,"y":4356.5,"wires":[["2d85bcdf.674494"]]},{"id":"94b7c3af.d5844","type":"function","z":"4b743b7f.093ab4","name":"counter1val","func":"global.set(\"RX7counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4233,"y":4248.5,"wires":[[]]},{"id":"2d85bcdf.674494","type":"function","z":"4b743b7f.093ab4","name":"counter2val","func":"global.set(\"RX7counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3825,"y":4352.5,"wires":[["62dc17b8.798c88"]]},{"id":"62dc17b8.798c88","type":"function","z":"4b743b7f.093ab4","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX7counter1val\");\nvar RXcounter2val = global.get(\"RX7counter2val\");\n\n\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4223,"y":4380.5,"wires":[[]]},{"id":"4185281e.77c458","type":"comment","z":"4b743b7f.093ab4","name":"Port Received Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2891,"y":4192.5,"wires":[]},{"id":"31ce5e25.fd1202","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2911,"y":4632.5,"wires":[["cb405576.4af668"],[],[]]},{"id":"cb405576.4af668","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3575,"y":4604.5,"wires":[["ee620c26.62d14"]]},{"id":"ce889e68.3f47f","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2671,"y":4712.5,"wires":[["a8c79b5a.75dd88"]]},{"id":"a8c79b5a.75dd88","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2891,"y":4712.5,"wires":[["558d7068.2eff4"],[],[]]},{"id":"558d7068.2eff4","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3435,"y":4700.5,"wires":[["fd345c8d.b9c5a"]]},{"id":"ee620c26.62d14","type":"function","z":"4b743b7f.093ab4","name":"TXcounter1val","func":"global.set(\"TX7counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4195,"y":4608.5,"wires":[[]]},{"id":"fd345c8d.b9c5a","type":"function","z":"4b743b7f.093ab4","name":"TXcounter2val","func":"global.set(\"TX7counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3911,"y":4708.5,"wires":[["e142f9e4.47feb8"]]},{"id":"e142f9e4.47feb8","type":"function","z":"4b743b7f.093ab4","name":"Out Utilization","func":"var TXcounter1val = global.get(\"TX7counter1val\");\nvar TXcounter2val = global.get(\"TX7counter2val\");\nvar outputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(TXcounter1val<TXcounter2val){\n    \n    outputUtilization_Mbp = Math.round(((TXcounter2val-TXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    outputUtilization_Mbp = Math.round((((TXcounter2val+Counter32bit )-TXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = outputUtilization_Mbp +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":4720.5,"wires":[[]]},{"id":"89cd732b.ede31","type":"comment","z":"4b743b7f.093ab4","name":"Port TX Mega Bytes 32 bit Counter Value","info":"Counter value = Mega Bytes counter\nCounter size is 32 bits.","x":2931,"y":4572.5,"wires":[]},{"id":"324977c5.48fda8","type":"function","z":"4b743b7f.093ab4","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.7\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.7\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2511,"y":4292.5,"wires":[["db95aed8.17a6e"],["cef94b22.c95e78"]]},{"id":"6dfc38c1.c60058","type":"function","z":"4b743b7f.093ab4","name":"OID: ifOutOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.16.7\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.16.7\"};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2501,"y":4632.5,"wires":[["31ce5e25.fd1202"],["ce889e68.3f47f"]]},{"id":"cef94b22.c95e78","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2651,"y":4372.5,"wires":[["957ac705.2a1fb8"]]},{"id":"bde64a3e.08ea88","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2851,"y":4872.5,"wires":[["bcd95d9f.cff0e"],[],[]]},{"id":"bcd95d9f.cff0e","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload= parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3503,"y":4836.5,"wires":[["69a9affc.df64b"]]},{"id":"a8fe7553.d9c608","type":"exec","z":"4b743b7f.093ab4","command":"snmpget -v 2c -c public 172.31.1.1 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2851,"y":4972.5,"wires":[["3f731657.68f62a"],[],[]]},{"id":"3f731657.68f62a","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nmsg.payload  = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":3383,"y":4956.5,"wires":[["b622a3c2.3a3f9"]]},{"id":"69a9affc.df64b","type":"function","z":"4b743b7f.093ab4","name":"counter1val","func":"global.set(\"RX8counter1val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":4189,"y":4836.5,"wires":[[]]},{"id":"b622a3c2.3a3f9","type":"function","z":"4b743b7f.093ab4","name":"counter2val","func":"global.set(\"RX8counter2val\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":3789,"y":4948.5,"wires":[["af5d34e1.fd5128"]]},{"id":"af5d34e1.fd5128","type":"function","z":"4b743b7f.093ab4","name":"Input Utilization","func":"var RXcounter1val = global.get(\"RX8counter1val\");\nvar RXcounter2val = global.get(\"RX8counter2val\");\n\nvar inputUtilization_Mbp = 0;\nconst Counter32bit = 4294967296; //2^32 . Full value of 32 bit counter/register\n\n//var inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n\nif(RXcounter1val<RXcounter2val){\n    \n    inputUtilization_Mbps = Math.round(((RXcounter2val-RXcounter1val)*8)/(3*1000000));\n    \n}else{\n    //32 bit counter overlow\n    inputUtilization_Mbps = Math.round((((RXcounter2val+Counter32bit )-RXcounter1val)*8)/(3*1000000));\n}\n\nmsg.payload = inputUtilization_Mbps +' Mbps' ;\nreturn msg;","outputs":1,"noerr":0,"x":4211,"y":4960.5,"wires":[[]]},{"id":"6e9ee031.769fd","type":"function","z":"4b743b7f.093ab4","name":"OID: ifInOctets","func":"var msg1 ={payload:\"1.3.6.1.2.1.2.2.1.10.8\"};\nvar msg2 ={payload:\"1.3.6.1.2.1.2.2.1.10.8\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":2491,"y":4892.5,"wires":[["bde64a3e.08ea88"],["2d2092df.dc92ce"]]},{"id":"2d2092df.dc92ce","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2631,"y":4972.5,"wires":[["a8fe7553.d9c608"]]},{"id":"478c6089.eb11b","type":"function","z":"4b743b7f.093ab4","name":"OID: PoE Power Port Consumed","func":"\nvar i = global.get('counter');\n\nif(i<48){\n    i++; //Initially 0+1\n    msg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.108.1.1.5.1.' + i;\n    global.set('counter', i) ;\n    \n}else{\n    global.set('counter', 0) ; //Reset Counter back to 0\n}  \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":443.0195617675781,"y":1853.50390625,"wires":[["ab3e49c8.2a4808"]]},{"id":"ab3e49c8.2a4808","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":739.019603729248,"y":1853.5038805007935,"wires":[["b30b5e18.93c9c"],[],[]]},{"id":"b30b5e18.93c9c","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar port = global.get('counter')-1;\n\nmsg.payload =1/1000*( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //convert to Watts +counter\nglobal.set('PortPoEStat['+port+']',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1072.0195846557617,"y":1839.5039510726929,"wires":[[]]},{"id":"c2333b28.33fa98","type":"function","z":"4b743b7f.093ab4","name":"Port Operational Status","func":"\nvar i = global.get('counter2');\nvar ports = 0;\n\n\nif(global.get('model').includes('SG350-52')){\n    ports = 52 ;//Poll 1-ports\n}else if(global.get('model').includes('SG350-28')){\n    ports = 28; //Poll 1-ports\n}else if(global.get('model').includes('SG350-10')){\n     ports = 10 ;//Poll 1-ports\n}else{}\n\n\nif(i<(ports)){\n    i++; //Initially 0+1\n    msg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '\t1.3.6.1.2.1.2.2.1.8.' + i;\n    global.set('counter2', i) ;\n    \n}else{\n   \n    global.set('counter2', 0) ; //Reset Counter back to 0\n}  \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":718.0000305175781,"y":1465.333415031433,"wires":[["8c5294b4.579618"]]},{"id":"8c5294b4.579618","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":992,"y":1464.3333740234375,"wires":[["89718bc2.49f418"],[],[]]},{"id":"89718bc2.49f418","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar port = global.get('counter2')-1;\n\nmsg.payload =( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //\nglobal.set('PortOperationalStatus['+port+']',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1482,"y":1454.33349609375,"wires":[[]]},{"id":"d244cc4.31ac03","type":"inject","z":"4b743b7f.093ab4","name":"","topic":"","payload":"","payloadType":"date","repeat":".5","crontab":"","once":true,"onceDelay":".1","x":367.7500305175781,"y":1462.3333549499512,"wires":[["c2333b28.33fa98"]]},{"id":"38b34778.427ab8","type":"function","z":"4b743b7f.093ab4","name":"Port VLAN Status","func":"\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '\t1.3.6.1.4.1.9.9.68.1.2.2.1.2.4';\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":382,"y":1913,"wires":[["9ede5fcf.744d4"]]},{"id":"9ede5fcf.744d4","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":727.0000419616699,"y":1913.9999742507935,"wires":[["1abb6aa0.0a32e5"],[],[]]},{"id":"1abb6aa0.0a32e5","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\n//var port = global.get('counter2')-1;\n\nmsg.payload =( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //convert to Watts +counter\n//global.set('PortOperationalStatus['+port+']',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1060.0000228881836,"y":1900.0000448226929,"wires":[[]]},{"id":"36a5d505.330d5a","type":"function","z":"4b743b7f.093ab4","name":"Port VLAN Status","func":"\nvar i = global.get('counter2');\n\nif(i<48){\n    i++; //Initially 0+1\n    msg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '\t1.3.6.1.4.1.9.9.68.1.2.2.1.2.4.2' + i;\n    global.set('counter2', i) ;\n    \n}else{\n    global.set('counter2', 0) ; //Reset Counter back to 0\n}  \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":404,"y":1990,"wires":[[]]},{"id":"a06e8038.3954e","type":"function","z":"4b743b7f.093ab4","name":"Switch Ping Test.","func":"//If exec responds with 'Timeout' then set SwitchPingTest = 'fail'. If response is ok, SweichPingTest = 'ok'\n\n\nif(msg.payload === false){\n    global.set('SwitchPingTest','fail');\n    global.set('SwitchPingTest','fail');\n    global.set('PoE','link loss');\n    global.set('PS1Stat','link loss');\n    global.set('Fan1Stat','link loss');\n    global.set('Fan2Stat','link loss');\n    global.set('Fan3Stat','link loss');\n}else{\n    global.set('SwitchPingTest','ok');\n}\nreturn msg;","outputs":1,"noerr":0,"x":1131.500144958496,"y":469.00008964538574,"wires":[[]]},{"id":"e7cdc1b4.b4072","type":"conf ping","z":"4b743b7f.093ab4","name":"","host":"","timeout":"5","requests":"1","x":786.2734375,"y":462.9062719345093,"wires":[["a06e8038.3954e"]]},{"id":"d47a182e.72e018","type":"function","z":"4b743b7f.093ab4","name":"","func":"msg.host = global.get('SwitchIPAddress')\nreturn msg;","outputs":1,"noerr":0,"x":572.2734413146973,"y":466.59381675720215,"wires":[["e7cdc1b4.b4072"]]},{"id":"357f2ee8.c4cab2","type":"function","z":"4b743b7f.093ab4","name":"OID: Fan2 Status","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109249\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109250';\nreturn msg;","outputs":1,"noerr":0,"x":798.0000152587891,"y":1042.000054359436,"wires":[["1caa9bb3.6945e4"]]},{"id":"241ca4d9.53d10c","type":"function","z":"4b743b7f.093ab4","name":"OID: Fan3 Status","func":"\n//msg.payload = \"1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109249\";\nmsg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '1.3.6.1.4.1.9.6.1.101.83.1.1.1.3.67109251';\nreturn msg;","outputs":1,"noerr":0,"x":799.9999847412109,"y":1094.9999923706055,"wires":[["df70b244.7e74c"]]},{"id":"1caa9bb3.6945e4","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1034,"y":1039,"wires":[["5a4c02ed.d169ec"],[],[]]},{"id":"df70b244.7e74c","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1034,"y":1094,"wires":[["90cf3fc8.7d0db"],[],[]]},{"id":"b7e96867.61e298","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"1.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":603.51953125,"y":1037.75390625,"wires":[["357f2ee8.c4cab2"]]},{"id":"30825099.22f9","type":"delay","z":"4b743b7f.093ab4","name":"","pauseType":"delay","timeout":"1.4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":602.51953125,"y":1097.75390625,"wires":[["241ca4d9.53d10c"]]},{"id":"5a4c02ed.d169ec","type":"function","z":"4b743b7f.093ab4","name":"fan2Status","func":"var temp = msg.payload;\nvar fan2Status = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\nif(fan2Status==1){\n    msg.payload = 'OK';\n    return msg;\n}else if(fan2Status==2){\n    msg.payload = 'WARNING';\n    return msg;\n}else if(fan2Status==3){\n    msg.payload = 'CRITICAL';\n    return msg;\n}else if(fan2Status==4){\n    msg.payload = 'SHUTDOWN';\n    return msg;\n}else if(fan2Status==5){\n    msg.payload = ' FAN NOT PRESENT ';\n    return msg;\n}else if(fan2Status==6){\n    msg.payload = 'NOT FUNCTIONING';\n    return msg;\n}else{\n    \n}\n\n\n","outputs":1,"noerr":0,"x":1445.5195617675781,"y":1022.7539100646973,"wires":[["2e85e931.594446"]]},{"id":"2e85e931.594446","type":"function","z":"4b743b7f.093ab4","name":"global.set('Fan2Stat',msg.payload)","func":"Fan1Stat = msg.payload;\nglobal.set('Fan2Stat',msg.payload);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1916.5196228027344,"y":1021.7539710998535,"wires":[[]]},{"id":"90cf3fc8.7d0db","type":"function","z":"4b743b7f.093ab4","name":"fan3Status","func":"var temp = msg.payload;\nvar fan3Status = parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim());\n\n\n    if(fan3Status==1){\n       msg.payload = 'OK';\n       return msg;\n    }else if(fan3Status==2){\n        msg.payload = 'WARNING';\n        return msg;\n    }else if(fan3Status==3){\n        msg.payload = 'CRITICAL';\n        return msg;\n    }else if(fan3Status==4){\n        msg.payload = 'SHUTDOWN';\n        return msg;\n    }else if(fan3Status==5){\n        msg.payload = ' FAN NOT PRESENT';\n        return msg;\n    }else if(fan3Status==6){\n        msg.payload = 'NOT FUNCTIONING';\n        return msg;\n    }else{\n        \n    }\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1445.5195922851562,"y":1088.7538948059082,"wires":[["30a21b1e.a083a4"]]},{"id":"30a21b1e.a083a4","type":"function","z":"4b743b7f.093ab4","name":"global.set('Fan3Stat',msg.payload)","func":"Fan1Stat = msg.payload;\nglobal.set('Fan3Stat',msg.payload);\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1919.5195007324219,"y":1084.7539558410645,"wires":[[]]},{"id":"fdb99386.2c092","type":"function","z":"4b743b7f.093ab4","name":"Port VLAN Status","func":"\nvar i = global.get('counter3');\nvar ports = 0;\n\n\nif(global.get('model').includes('SG350-52')){\n    ports = 52 ;//Poll 1-ports\n\n}else if(global.get('model').includes('SG350-28')){\n    ports = 28; //Poll 1-ports\n\n}else if(global.get('model').includes('SG350-10')){\n     ports = 10 ;//Poll 1-ports\n\n}else{}\n\n\nif(i<(ports)){\n        \n    i++; //Initially 0+1\n    msg.payload = 'snmpget -v 2c -c public'+ \" \" + global.get('SwitchIPAddress') + \" \" + '\t1.0.8802.1.1.2.1.5.32962.1.2.1.1.1.' + i;\n    global.set('counter3', i) ;\n    \n\n}else{\n    global.set('counter3', 0) ; //Reset Counter back to 0\n\n}  \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":696,"y":1564,"wires":[["e11e0fbc.3a5d4"]]},{"id":"e11e0fbc.3a5d4","type":"exec","z":"4b743b7f.093ab4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":989.9999694824219,"y":1562.9999589920044,"wires":[["83b49b3e.a25e38"],[],[]]},{"id":"83b49b3e.a25e38","type":"function","z":"4b743b7f.093ab4","name":"parse and strip out the integer after the \":\"","func":"var temp = msg.payload;\nvar port = global.get('counter3')-1;\n\nmsg.payload =( parseInt(temp.slice(temp.indexOf(\":\")+2,1000).trim())); //\nglobal.set('PortVlanMembership['+port+']',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1479.9999694824219,"y":1553.000081062317,"wires":[[]]},{"id":"bb8bffb2.87288","type":"inject","z":"4b743b7f.093ab4","name":"","topic":"","payload":"","payloadType":"date","repeat":".5","crontab":"","once":true,"onceDelay":".5","x":365.75,"y":1560.999939918518,"wires":[["fdb99386.2c092"]]},{"id":"52cebae0.6b3064","type":"debug","z":"4b743b7f.093ab4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580.5,"y":184,"wires":[]}]